<h1>All Ski Runs</h1>
<% @ski_runs.each do |ski_run| %>
  <h4><%= ski_run.name %></h4>
  <ul>
    <p> Is the run open? <%= ski_run.open %></p>
    <p> Distance: <%= ski_run.distance %> miles</p>
    <p> Is this a green? <%= ski_run.green %></p>
    <p> Is this a blue? <%= ski_run.blue %></p>
    <p> Is this a black? <%= ski_run.black %></p>
    <p>Run condition: <%= ski_run.condition %></p>
  </ul>
<% end %>
