<a href="/ski_runs"> All Ski Runs </a>
<h1>All Ski Runs</h1>
<% @ski_runs.each do |ski_run| %>
  <h4><%= ski_run.name.titleize %></h4>
  <ul>
    <li> Is the run open? <%= ski_run.open %></li>
    <li> Distance: <%= ski_run.distance %> miles</li>
    <li> Is this a green? <%= ski_run.green %></li>
    <li> Is this a blue? <%= ski_run.blue %></li>
    <li> Is this a black? <%= ski_run.black %></li>
    <li>Run condition: <%= ski_run.condition %></li>
  </ul>
<% end %>
