<div>
  <h1>
  <%= @ski_resort.name%>
  </h1>
  <h3>
  <%="Number of lifts:#{@ski_resort.lifts}"%>
  <p>Back-country access? <%= @ski_resort.backcountry_access%></p>
  <p>Number of employees: <%=@ski_resort.employee%></p>
  <p>Snowboarders permitted? <%=@ski_resort.snowboarder_permitted%></p>
  <p>Altitude: <%=@ski_resort.altitude%></p>
  <p>Average snow fall: <%=@ski_resort.avg_snowfall%></p>
  <p>Location: <%=@ski_resort.location%></p>
  <p>Ski Runs: <%=@ski_resort.count_runs %> </p>
  </h3>
</div>
