<!DOCTYPE html>
<html>
  <head>
    <title>RelationRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href="/ski_runs"> All Ski Runs </a>
    <p><a href="/ski_resorts"> All Ski Resorts </a></p> 
    <%= yield %>
  </body>
</html>
